All the IPython Notebooks in this lecture series are available at https://github.com/rajathkumarmp/Python-Lectures

***Changes were made to the original code and text.***

## Strings

Strings are ordered text based data, which are represented by enclosing the same in single/double/triple quotes.

In [4]:
String0 = 'Data is beautiful'
String1 = "Data is beautiful"
String2 = '''Data
is
beautiful'''

In [5]:
print(String0 , type(String0))
print(String1, type(String1))
print(String2, type(String2))

Data is beautiful <class 'str'>
Data is beautiful <class 'str'>
Data

is
beautiful <class 'str'>

In [6]:
String2

'Data\n\nis\nbeautiful'

\n \t

In [11]:
string4 = "Python\tis\tnot\nso\tgreat"

In [12]:
print(string4)

Python	is	not
so	great

String indexing and slicing are similar to lists.

In [13]:
String0 = 'Data is beautiful'

In [17]:
print(String0[5])

i

In [20]:
print(String0[5])
print(String0[5:])

i
is beautiful

In [23]:
String0[5:17]

'is beautiful'

### Built-in Functions

**find( )** function returns the index value of the given data that is to found in the string. If it is not found it returns **-1**. Remember to not confuse the returned -1 for reverse indexing value.

In [25]:
String0

'Data is beautiful'

In [30]:
print(String0.find('aut'))
print(String0.find('aus'))

10
-1

Using the index value a single letter can be extracted from the string.

In [ ]:
print(String0[8])

One can also specify the **find( )** function to search between index values.

In [ ]:
print(String0.find('a',1))
print(String0.find('a',2,6))

In [42]:
help(String0.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

**index( )** works the same way as **find( )** function the only difference is find returns '-1' when the input element is not found in the string but **index( )** function throws a ValueError

In [ ]:
print(String0.index('Data'))
print(String0.index('Data',0))
print(String0.index('Data',10,20))

In [43]:
help(String0.index)

Help on built-in function index:

index(...) method of builtins.str instance
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

**endswith( )** function is used to check if the given string ends with the particular char which is given as input.

In [45]:
String0

'Data is beautiful'

In [51]:
print(String0.endswith('ful'))

True

The start and stop index values can also be specified.

In [ ]:
print(String0.endswith('l',0))
print(String0.endswith('a',0,4))

**count( )** function counts the number of characters in the given string. The start and the stop index can also be specified or left blank. (These are implicit arguments, which will be dealt in functions)

In [52]:
String0

'Data is beautiful'

In [60]:
print(String0.count('a',0))
print(String0.count('a',5,11))

3
1

In [62]:
String0[5:11:1].count('a')

1

In [63]:
String0[5:11:2]

'i e'

**join( )** function is used to add a character (char) in between the elements of the input string.

In [67]:
'a'.join('*_-')

'*a_a-'

In [68]:
obser = 'Fuchs,Elefant,Hund,Hund,Mensch,Fuchs,Glurak'
lst = obser.split(',')
print(lst)

['Fuchs', 'Elefant', 'Hund', 'Hund', 'Mensch', 'Fuchs', 'Glurak']

In [72]:
' '.join(lst)

['Fuchs', 'Elefant', 'Hund', 'Hund', 'Mensch', 'Fuchs', 'Glurak']

'*_-' is the input string and char 'a' is added in between each element

**join( )** function can also be used to convert a list into a string.

In [73]:
String0

'Data is beautiful'

In [74]:
a = list(String0)
print(a)
b = ','.join(a)
print(b)

['D', 'a', 't', 'a', ' ', 'i', 's', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l']
D,a,t,a, ,i,s, ,b,e,a,u,t,i,f,u,l

In [75]:
String0 = "Hello World"
splitted = list(String0)
splitted

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

Before converting it into a string **join( )** function can be used to insert any char in between the list elements.

In [ ]:
c = '/'.join(a)[18:]
print(c)

**split( )** function is used to convert a string back to a list. Think of it as the opposite of the **join()** function.

In [ ]:
b

In [ ]:
d = b.split(',')
print(d)

In the **split( )** function you can also specify the number of times you want to split the string or the number of elements the new returned list should conatin. The number of elements is always one more than the specified number this is because it is split the number of times specified.

In [ ]:
e = c.split('/',3)
print(e)
print(len(e))

**lower( )** converts any capital letter to small letter.

In [ ]:
print(String0)
print(String0.lower())

**upper( )** converts any small letter to capital letter.

In [ ]:
String0.upper()

**replace( )** function replaces the element with another element.

In [ ]:
String0.replace('Data','Color')

In [77]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

## Dictionaries

Dictionaries are more used like a database because here you can index a particular value with your user defined key.

To define a dictionary, equate a variable to { } or dict()

In [78]:
dictionary = {}

In [79]:
dictionary = {'Key1':1,'Key2':2}

In [91]:
dictionary['list_key'] = ['string1',2,3,dict(),(2,3,4)]

In [92]:
dictionary

{'Key1': 1,
 'Key2': 2,
 'Key3': 3,
 5: 3,
 2.5: 3,
 'list_key': ['string1', 2, 3, {}, (2, 3, 4)]}

In [95]:
dictionary['list_key'].append('appended_value')

In [96]:
dictionary

{'Key1': 1,
 'Key2': 2,
 'Key3': 3,
 5: 3,
 2.5: 3,
 'list_key': ['string1', 2, 3, {}, (2, 3, 4), 'appended_value']}

In [6]:
d0 = {'One': 250, 'Two': 120,
      "Three":0, 1:42}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

In [7]:
d0

{1: 42, 'One': 250, 'Three': 0, 'Two': 120}

In [2]:
set([1,2,3])

{1, 2, 3}

In [3]:
d0[1] = 200
d0['OneTwo'] = 12 
print(d0)

{1: 200, 'OneTwo': 12}

That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'

In [5]:
print(d0["OneTwo"])

12

Two lists, which are related can be merged to form a dictionary.

In [116]:
names = ['One', 'Two', 'Three', 'Four', 'Five', 'Six']
numbers = [1, 2, 3, 4, 5, 6]

**zip( )** function is used to combine two lists

In [125]:
d2 = zip(names,numbers)

In [135]:
string_test = ""
for key, value in zip(names,numbers):
    string_test += str(key) + " "+ str(value)+"\n"

In [136]:
print(string_test)

One 1
Two 2
Three 3
Four 4
Five 5
Six 6

Further, to convert the above into a dictionary. **dict( )** function is used.

In [113]:
dict(d2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [141]:
z = {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
z

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [6]:
a1 = dict(d2)
print(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [7]:
a1["Six"] = 7
a1

{'Five': 5, 'Four': 4, 'One': 1, 'Six': 7, 'Three': 3, 'Two': 2}

### Built-in Functions

**clear( )** function is used to erase the entire database that was created.

In [138]:
z

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [139]:
z.clear()

In [140]:
z

{}

In [25]:
a1.clear()
print(a1)

{}

Dictionary can also be built using loops.

In [26]:
for i in range(len(names)):
    a1[names[i]] = numbers[i]
print(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

**values( )** function returns a list with all the assigned values in the dictionary.

In [11]:
a1.values()

dict_values([1, 2, 3, 4, 5, 7])

**keys( )** function returns all the index/keys of the dictionary.

In [142]:
for i in z.keys():
    print(i)

One
Two
Three
Four
Five

In [144]:
type(list(z.keys()))

list

**items( )** returns a list containing all key/value pairs.

In [34]:
a1.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)])

In [145]:
test = [('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

In [146]:
type(test)

list

In [147]:
type(test[0])

tuple

**pop( )** function is used to remove a particular element. This removed element can be assigned to a new variable. But remember, only the value is stored and not the key.

In [35]:
a2 = a1.pop('Four')
print(a1)
print(a2)

{'One': 1, 'Two': 2, 'Three': 3, 'Five': 5}
4

In [150]:
for i in z.keys():
    print(i,' is my key and ',z[i],' is my value')

One  is my key and  1  is my value
Two  is my key and  2  is my value
Three  is my key and  3  is my value
Four  is my key and  4  is my value
Five  is my key and  5  is my value

In [149]:
i

'Five'