In [1]:
my_list = [1,2,3,4,5]

In [2]:
sum(my_list)

15

In [10]:
n = 5
for i in range(-n+1,n):
    print("*" * (n-abs(i)))

*
**
***
****
*****
****
***
**
*

In [15]:
sterne=""
switch=True
for i in range(0,10,1):
    if len(sterne)<=4 and switch==True:
        sterne+="*"
    elif len(sterne)==5 and switch==True and (sache1 or sache2):
        print(sterne)
        
        switch=False
    else:
        sterne=sterne[:len(sterne)-1]
        switch=False
    print(sterne)

*
**
***
****
*****
*****
*****
****
***
**
*

In [16]:
star = ""
for i in range(0,8):
    if i < 4:
        star += "*"
        print(star)
    if i > 4:
        star = star[:len(star)-1]
        print(star)

*
**
***
****
***
**
*

In [19]:
import numpy as np

arr = np.random.randint(0,10,100)

In [20]:
my_arr

array([5, 9, 2, 1, 0, 2, 4, 2, 9, 5, 8, 6, 4, 9, 0, 6, 8, 1, 6, 4, 1, 2,
       7, 6, 6, 9, 7, 4, 9, 8, 2, 0, 8, 5, 8, 3, 9, 3, 8, 2, 2, 2, 1, 8,
       5, 7, 5, 5, 8, 5, 9, 6, 4, 4, 0, 4, 4, 2, 6, 6, 4, 8, 6, 5, 6, 7,
       1, 5, 5, 0, 8, 2, 7, 8, 1, 3, 2, 3, 4, 7, 2, 6, 5, 3, 1, 2, 5, 2,
       6, 0, 8, 6, 4, 6, 7, 8, 7, 8, 1, 0])

In [21]:
type(my_arr)

numpy.ndarray

In [34]:
def odd_and_even(arr:np.ndarray)->tuple:
    odd, even = 0, 0
    for i in arr:
        if i%2 == 0: 
            even+=1
        else: 
            odd+=1
    return odd, even

In [35]:
odd_and_even(my_arr)

(40, 60)

In [54]:
'''fibonacci
    
    This function returns a sequence of fibonacci numbers of size n.
    
    :param n
        :type int
        
    :return fib
        :type list

'''
def fibonacci(n:int)->list:
    if n == 0:
        return 0
    elif n == 1:
        return [0]
    elif n == 2:
        return [0,1]
    else:
        fib = [0,1]
        for i in range(2,n):
            fib.append(fib[i-2]+fib[i-1])
    return fib

In [55]:
fibonacci(4)

[0, 1, 1, 2]

In [52]:
def fibonacci2(x):
    fseq=[0,1]
    for i in range(3,x+1):
        fseq.append((fseq[i-3]+fseq[i-2]))
    return fseq

In [53]:
fibonacci2(4)

[0, 1, 1, 2]

In [56]:
#°F = °C * 9 / 5 + 32
fahrenheit = lambda c: c*9/5+32

In [57]:
fahrenheit(20)

68.0

In [58]:
add = lambda x,y:x+y

In [59]:
add(5,5)

10

In [63]:
#recursive fibonacci
def rec_fibonacci(n):
    if n in [0,1]:
        return n
    else:
        return rec_fibonacci(n-2) + rec_fibonacci(n-1)

In [64]:
rec_fibonacci(4)

3

In [60]:
def p_num(n):
    print(n)
    if n == 0:
        return
    return p_num(n-1)

In [61]:
p_num(10)

10
9
8
7
6
5
4
3
2
1
0

In [65]:
my_list = [9,7,4,2,8,12,13,1]

def sort_my_list(arr:list)->list:
    for i in arr:
        
    return arr/my_sorted_list

In [68]:
for i in range(8,0,-1):
    print(i)

8
7
6
5
4
3
2
1

In [69]:
import math

In [72]:
# n * n - 1 * n - 2 ....
math.factorial(5)

120

In [1]:
import numpy as np
randoms=np.random.randint(0,100,200)

In [2]:
90

array([90, 40, 97, 93, 22,  9, 42, 28, 83, 56, 97, 64, 51, 86, 30,  0, 75,
       22,  6, 61, 42, 64, 26,  8, 47, 35, 32, 47, 16,  5, 28, 47, 46, 73,
       85, 55, 89, 48, 92, 79, 90, 50, 13, 70,  8, 23, 27, 67, 56, 47,  6,
       10, 89, 78, 67, 39,  1, 86, 73, 37, 85, 84, 73, 65, 27, 29,  0, 22,
        1,  7, 66, 12, 40, 24, 56, 57, 82, 40, 65, 10, 12, 92, 52, 46, 86,
       10, 27, 80, 38,  6, 33, 62, 54, 85, 86, 34, 51, 31, 63, 14, 14, 64,
       67, 57, 60,  4, 53, 12, 86, 94, 93, 89, 68, 62, 68, 79, 40, 40, 57,
       68, 48, 60,  9, 76, 90, 57, 19, 56, 26, 21, 55, 74, 83, 59,  3, 32,
       49, 58, 85, 13, 39, 72, 83, 85, 48,  2, 71, 23, 17,  3, 21, 74, 20,
        1,  8, 56, 84, 93, 95, 34, 72, 28, 99, 83, 42, 85, 66, 35, 86, 63,
       71, 63, 76, 31, 76, 86, 84,  9, 78, 92, 13, 30, 97, 78, 99, 94, 82,
       49,  1, 80, 91, 62, 84, 81, 87, 65, 83, 24, 32, 71])