## Numpy

<div class="alert alert-info">
<b>Exercise 8</b><br>
a) Write a function my_sum that calculates the sum of a list.<br>
b) Write a function my_mean that calculates the mean of a list. Use the function my_sum inside my_mean.
</div>

In [1]:
import numpy as np
import random
random.seed(42)

In [2]:
my_realy_fancy_list = list(np.random.randint(0,10,1000))

In [3]:
def my_sum(lst):
    su = 0
    for element in lst:
        su = su + element
    return su

In [4]:
my_sum(my_realy_fancy_list)

4620

In [5]:
np.sum(my_realy_fancy_list) == my_sum(my_realy_fancy_list)

True

In [6]:
def my_mean(lst):
    return my_sum(lst)/len(lst)

In [7]:
my_mean(my_realy_fancy_list)

4.62

In [8]:
np.mean(my_realy_fancy_list) == my_mean(my_realy_fancy_list)

True

<div class="alert alert-info">
<b>Exercise 9</b><br>
a) Multiple the third value in the fourth layer with itself.<br>
b) Create an array (n*n) containing only ones.<br>
c) Change the diagonal to zeros using a loop.
</div>

In [9]:
a = np.random.randint(10, size=(5, 6))
a

array([[2, 9, 1, 8, 0, 7],
       [6, 1, 5, 3, 8, 3],
       [2, 8, 1, 3, 2, 3],
       [9, 4, 5, 0, 7, 5],
       [8, 8, 7, 8, 7, 8]])

In [10]:
a[3, 2]**2

25

In [11]:
mat = np.ones((4,4))

In [12]:
mat

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [13]:
for i in range(mat.shape[0]):
    for j in range(mat.shape[0]):
        if i == j:
            mat[i,j] = 0

In [14]:
mat

array([[0., 1., 1., 1.],
       [1., 0., 1., 1.],
       [1., 1., 0., 1.],
       [1., 1., 1., 0.]])

In [15]:
mat  = np.ones((5,5))
for i in range(len(mat)):
    mat[i,i] = 0

In [16]:
mat

array([[0., 1., 1., 1., 1.],
       [1., 0., 1., 1., 1.],
       [1., 1., 0., 1., 1.],
       [1., 1., 1., 0., 1.],
       [1., 1., 1., 1., 0.]])

<div class="alert alert-info">
<b>Exercise 10</b><br>
Extract the subsets as shown in numpy_ex.pdf.<br>
</div>

In [17]:
x = np.arange(40).reshape(5,8)
x

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39]])

In [18]:
x[0:2:,0:2:]

array([[0, 1],
       [8, 9]])